body{
  background-color: white;
  opacity: ;
}

@font-face {
  font-family: myFirstFont;
  src: url(fonts/glyphicons-halflings-regular.woff);
}

.Jo{
  font-family: "Open Sans";
  color: red;
}
h1{
  font-family: myFirstFont;
}


.img-circle {
  width: 300px;
  height: 300px;
}
